{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <h1>Réinitialiser votre mot de passe</h1>
            {{ form_start(requestPassForm) }}
            <fieldset class="mb-3">
                {# {{ form_row(requestPassForm.lastname) }}
                {{ form_row(requestPassForm.firstname) }} #}
                {{ form_row(requestPassForm.email) }}
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(requestPassForm) }}
        </div>
    </div>
</div>

{% endblock %}